@media screen and (max-width: 767px) {
    h1 {
        font-size: 20px;
    }


    .btn-branding {
        background-color: #BBCEE4;
        border-radius: 4px;
        color: black;
        line-height: 15px;
        padding: 5px 10px;
        font-family: var(--primary-Font-Style);
        border: solid 1px #BBCEE4;
        ;
        border-radius: 4px;
        box-shadow: 1px 1px 1px 1px gray;
    }

    .btn-branding:hover {
        background-color: #BBCEE4;
        color: #6C63FF;
        border-color: #BBCEE4;
    }

    .contactlink {
        text-decoration: none;
        color: black;
        font-family: var(--primary-Font-Style);
        font-size: 18px;
    }

    .contactlink:hover {
        color: #6C63FF;
    }



}



:root {
    --primary-Font-Style: 'Poppins', sans-serif;
    --secondary-Font-Style: 'Playfair Display', serif;
}



.btn-branding {
    background-color: #BBCEE4;
    border-radius: 4px;
    color: black;
    font-size: 18px;
    line-height: 27px;
    padding: 15px 30px;
    border: solid 1px #BBCEE4;
        border-radius: 4px;
        box-shadow: 1px 1px 1px 1px gray;
    
}

.btn-branding:hover {
    background-color: #BBCEE4;

}





.col {

    color: blue;
    display: flex;
    justify-content: center;
    opacity: 60%;


}

.fa-github {
    margin-right: 40px;
    margin-left: 40px;
    color: #6C63FF;
}

.fa-github:hover {
    background-color: white;
    border-radius: 50px;
    font-size: 40px;

}

.fa-twitter {
    margin-right: 40px;
    margin-left: 40px;
    color: #6C63FF;
}

.fa-twitter:hover {

    border-radius: 50px;
    font-size: 40px;
}

.fa-linkedin {
    margin-right: 40px;
    margin-left: 40px;
    color: #6C63FF;
}

.fa-linkedin:hover {
    background-color: white;
    border-radius: 4px;
    font-size: 40px;
}

.container-work{
    background-color: #D6DFED;
    padding: 30px 30px;
    max-width: 960px;
    padding-left: 80px ;
    margin-bottom: 50px;
    margin-top: 100px;
    margin-left: 100px;


}


.work-enquiry {

    font-size: 28px;
    font-weight: 400px;
    font-family: var(--secondary-Font-Style);

}


.work-together {
    font-family: var(--primary-Font-Style);
    font-weight: 400px;
    font-size: 18px;
    color: #272142B2;
    opacity: 70%;
    line-height: 27px;

}


.container {
    margin-top: 60px;
    margin-bottom: 60px;

}
.contactlink {
    text-decoration: none;
    color: black;
    font-family: var(--primary-Font-Style);
    font-size: 18px;
}

.contactlink:hover{
    color: #6C63FF;
}

.github {
    color: #6C63FF;
    font-size: 14px;
}


body {
    background: linear-gradient(99.6deg, rgb(112, 128, 152) 10.6%, rgb(242, 227, 234) 32.9%, rgb(234, 202, 213) 52.7%, rgb(220, 227, 239) 72.8%, rgb(185, 205, 227) 81.1%, rgb(154, 180, 212) 102.4%);
}



h1 {
    font-family: var(--secondary-Font-Style);
    font-size: 44px;
    text-align: center;
    color: black;
    margin-top: 50px;
}

a {
    text-align: center;
    text-decoration: none;
    font-size: 24px;
    font-weight: 500px;
    font-family: var(--primary-Font-Style);
    color: black;
}

a:hover {
    color: #6C63FF;

}
