@media (max-width: 900px) {
    .heading {
        font-size: 40px;
        text-align: center;
        color: #6C63FF;

    }
}

@media (max-width: 900px) {
    .work-enquiry {
        font-size: 30px;
        text-align: center;
        font-family: var(--secondary-Font-Style);
       

    }
}


:root {
    --primary-Font-Style: 'Poppins', sans-serif;
    --secondary-Font-Style: 'Playfair Display', serif;
}



.btn-branding {
    background-color: #BBCEE4;
    border-radius: 4px;
    color: black;
    font-size: 18px;
    line-height: 27px;
    padding: 15px 30px;
    
}

.btn-branding:hover {
    background-color: #BBCEE4;

}



.hello {
    color: #272142;
    text-align: center;
    font-family: var(--primary-Font-Style);
    font-size: 2.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-top: 150px;
}



.feature {
    text-align: center;
    line-height: 27px;
    font-weight: 400px;
    size: 18px;
    color: black;
    font-family: var(--primary-Font-Style);

}

.fs {
    font-family: var(--secondary-Font-Style);
    font-weight: 700;
    font-size: 64px;
    margin-top: 90px;
    line-height: 76.8px;
    padding-left: 40px;
    padding-right: 40px;


}




.project {
    text-align: center;
    font-size: 24px;
    font-family: var(--primary-Font-Style);
}



.col {

    color: blue;
    display: flex;
    justify-content: center;
    opacity: 60%;


}

.fa-facebook {
    margin-right: 30px;
}

.fa-twitter {
    margin-right: 30px;
}

.container-work {
    background-color: #F9F7FE;
    padding: 50px 50px;
    max-width: 1160px;
    margin-bottom: 50px;
    margin-top: 100px;
    margin-left: 80px;

}
.contact{
    color: black;
    font-size: 18px;
    text-decoration: none;
    font-family: var(--primary-Font-Style);
}

.myemail{
    text-decoration: none;
}


.container-work {
background-color: #D6DFED;
    padding: 50px 50px;
    max-width: 1160px;
    padding-left: 80px;
    margin-bottom: 50px;
    margin-top: 100px;
}

.work-enquiry {

    font-size: 48px;
    font-weight: 700px;
    font-family: var(--secondary-Font-Style);

}
.phoneNo{
color: black;
font-family: var(--primary-Font-Style);
}


.work-together {
    font-family: var(--primary-Font-Style);
    font-weight: 400px;
    font-size: 18px;
    color: #272142B2;
    opacity: 70%;
    line-height: 27px;

}

.send {
    text-align: center;
    font-family: var(--primary-Font-Style);
    font-size: 14px;
    text-decoration: none;

}

.send:hover {
    columns: #BBCEE4;
}

.container {
    margin-top: 60px;
    margin-bottom: 60px;

}
.contactlink {
    text-decoration: none;
    color: black;
    font-family: var(--primary-Font-Style);
}

.contactlink:hover{
    color: #6C63FF;
}


body {
    background: linear-gradient(99.6deg, rgb(112, 128, 152) 10.6%, rgb(242, 227, 234) 32.9%, rgb(234, 202, 213) 52.7%, rgb(220, 227, 239) 72.8%, rgb(185, 205, 227) 81.1%, rgb(154, 180, 212) 102.4%);
}

h4 {
    text-align: center;
    font-family: var(--primary-Font-Style);
    size: 10px;
    color: #272142;
    margin-top: 40px;
}


h1 {
    font-family: var(--secondary-Font-Style);
    font-size: 64px;
    text-align: center;
    color: black;
    margin-top: 50px;
}

h3 {

    font-family: var(--secondary-Font-Style);
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: center;
    color: black;
}