@media (max-width: 900px) {
    .h1 {
        font-size: 50px;
        text-align: center;
        
        line-height: 100px;

    }

    .hello{
        font-size: 30px;
        font-weight: 400;
    }
}

@media (max-width: 900px) {
    .fs {
        font-size: 20px;
        text-align: center;
    

    }
}


:root {
    --primary-Font-Style: 'Poppins', sans-serif;
    --secondary-Font-Style: 'Playfair Display', serif;
    --background-color: #F9F7FE;
}

.hero {
    text-align: center;
    background-color: var(--background-color);
    background: linear-gradient(99.6deg, rgb(112, 128, 152) 10.6%, rgb(242, 227, 234) 32.9%, rgb(234, 202, 213) 52.7%, rgb(220, 227, 239) 72.8%, rgb(185, 205, 227) 81.1%, rgb(154, 180, 212) 102.4%);
}


.btn-branding {
    background-color: #BBCEE4;
        border-radius: 4px;
        color: black;
        font-size: 18px;
        line-height: 27px;
        padding: 15px 30px;
        font-family: var(--primary-Font-Style);
}

.btn-branding:hover {
    background-color: #BBCEE4;
    color: #6C63FF;
}

.hello {
    color: #272142;
    text-align: center;
    font-family: var(--primary-Font-Style);
    font-size: 2.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-top: 150px;
}



.feature {
    text-align: center;
    line-height: 27px;
    font-weight: 400px;
    size: 18px;
    color: black;
    font-family: var(--primary-Font-Style);

}

.fs {
    font-family: var(--secondary-Font-Style);
    font-weight: 700;
    font-size: 64px;
    margin-top: 90px;
    line-height: 76.8px;
    padding-left: 40px;
    padding-right: 40px;


}

.description {
    font-family: var(--primary-Font-Style);
    font-weight: 400;
    font-size: 16px;
    line-height: 2.0;
    opacity: 70%;
    margin-bottom: 48px;
    padding-left: 40px;
    padding-right: 40px;

}

.btn-branding-outline {
    margin-left: 40px;
    background-color: #BBCEE4;
    color: black;
    border: 1px #BBCEE4 solid;
    padding-top: 18px;
    font-size: 18px;
    line-height: 24px;
    font-weight: 500px;
    font-family: var(--primary-Font-Style);
    width: 200px;
    height: 60px;
    margin-top: 50px;

}

.btn-branding-outline:hover {
    background-color: #BBCEE4;
    border-color: #BBCEE4;
    color: #6C63FF;
}

.col{
   
   color: blue;
   display: flex;
   justify-content: center;
   opacity: 60%;
   
   
}

.img-fluid{
    margin-top: 65px;
}

.fa-github{
    margin-right: 40px;
    margin-left: 40px;
    color: #6C63FF;
}

.fa-github:hover{
    background-color: white;
   border-radius: 50px;
   font-size: 40px;

}

.fa-twitter{
margin-right: 40px;
margin-left: 40px;
color: #6C63FF;
}

.fa-twitter:hover{
    
        border-radius: 50px;
        font-size: 40px;
}

.fa-linkedin{
margin-right: 40px;
margin-left: 40px;
color: #6C63FF;
}

.fa-linkedin:hover{
    background-color: white;
        border-radius: 4px;
        font-size: 40px;
}
.container-work{
    background-color: #D6DFED;
    padding: 50px 50px;
    max-width: 960px;
    padding-left: 80px ;
    margin-bottom: 50px;
    margin-top: 100px;


}

.contact-info{
    text-align: center;
}



.work-enquiry{

    font-size: 48px;
    font-weight: 700px;
    font-family: var(--secondary-Font-Style);

}

.work-together{
    font-family: var(--primary-Font-Style);
    font-weight: 400px;
    font-size: 18px;
    color: #272142B2;
    opacity: 70%;
    line-height: 27px;

}

.container{
    margin-top: 60px;
    margin-bottom: 60px;
   
}


.contactlink {
    text-decoration: none;
    color: black;
    font-family: var(--primary-Font-Style);
}

.contactlink:hover {
    color: #6C63FF;
}

a{
    text-align: center;
    text-decoration: none;
    font-size: 24px;
    font-weight: 500px;
    font-family: var(--primary-Font-Style);
    color: black;
}

a:hover{
    color:#6C63FF;

}

body {
background: linear-gradient(99.6deg, rgb(112, 128, 152) 10.6%, rgb(242, 227, 234) 32.9%, rgb(234, 202, 213) 52.7%, rgb(220, 227, 239) 72.8%, rgb(185, 205, 227) 81.1%, rgb(154, 180, 212) 102.4%);
}


h4 {
    text-align: center;
    font-family: var(--primary-Font-Style);
    size: 10px;
    color: #272142;
    margin-top: 40px;
}


h1 {
    font-family: var(--secondary-Font-Style);
    font-size: 76px;
    font-weight: 400;
    line-height: 88px;
    letter-spacing: 0em;
    text-align: center;
    color: black;
}

h3 {

    font-family: var(--secondary-Font-Style);
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: center;
    color: black;
}

