

@media (max-width: 900px) {
    .heading {
        font-size: 50px;
        text-align: center;
        color: #6C63FF;
      
    }
    }

    @media (max-width: 900px){
        .fs {
                font-size: 40px;
                text-align: center;
                color: #6C63FF;
                
            }
        }
    

:root {
    --primary-Font-Style: 'Poppins', sans-serif;
    --secondary-Font-Style: 'Playfair Display', serif;
    --background-color: #F9F7FE;
}
.hero{
    text-align: center;   
    background-color: var(--background-color);
}


.btn-branding {
    background: #6C63FF;
    border-radius: 4px;
    color: white;
    font-size: 18px;
    line-height: 27px;
    padding: 15px 30px;
}

.hello {
    color: #272142;
    text-align: center;
    font-family: var(--primary-Font-Style);
    font-size: 2.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-top: 150px;
}

.btn-branding:hover {
    background-color: #6C63FF;
}

.feature{
    text-align: center;
    line-height: 27px;
    font-weight: 400px;
    size: 18px;
    color: black;
    font-family: var(--primary-Font-Style);
       
}

.fs{
    font-family: var(--secondary-Font-Style);
    font-weight: 700;
    font-size: 64px;
    margin-top: 90px;
    line-height: 76.8px;
    padding-left: 40px;
     padding-right: 40px;
    
    
}

.description{
    font-family: var(--primary-Font-Style);
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    opacity: 70%;
    margin-bottom: 48px;
    padding-left: 40px;
    padding-right: 40px;

}

.btn-branding-outline{
    margin-left: 40px;
    background-color: white;
    color: #6C63FF;
    border: 1px #6C63FF solid;
    padding-top: 18px;
    font-size: 18px;
    line-height: 24px;
    font-weight: 500px;
    font-family: var(--primary-Font-Style);
    width: 200px;
    height: 60px;
    
}

.btn-branding-outline:hover{
    background-color: white;
    border-color: #6C63FF;
    color: black;
}

h4{
    text-align: center;
    font-family: var(--primary-Font-Style);
    size: 10px;
    color: #272142;
    margin-top: 40px;
}


h1{
    font-family:var(--secondary-Font-Style);
        font-size: 96px;
        font-weight: 700;
        line-height: 128px;
        letter-spacing: 0em;
        text-align: left;
        text-align: center;
        color: black;
}

h3{
    
    font-family: var(--secondary-Font-Style);
        font-size: 24px;
        font-weight: 400;
        line-height: 36px;
        letter-spacing: 0em;
        text-align: center;
        color: black;
}

a{
    text-decoration: none;
    color: white;
}








    