@media (max-width: 1400) {
  .project-yogurt {
     color: red;
  }


}

:root {
    --primary-Font-Style: 'Poppins', sans-serif;
    --secondary-Font-Style: 'Playfair Display', serif;
}



.btn-branding {
    background-color: #BBCEE4;
        border-radius: 4px;
        color: black;
        line-height: 1.5;
        padding: 15px 30px;
        font-family: var(--primary-Font-Style);
        border: solid 3px grey;
        border-radius: 4px;
        box-shadow: 2px 3px 3px 1px gray;
        
        
    
    
}

  .contactlink {
      text-decoration: none;
      color: black;
      font-family: var(--primary-Font-Style);
      font-size: 18px;
  }

  .contactlink:hover {
      color: #6C63FF;
  }

.col {

    color: blue;
    display: flex;
    justify-content: center;
    opacity: 60%;


}

.fa-github {
    margin-right: 40px;
    margin-left: 40px;
    color: #6C63FF;
}

.fa-github:hover {
    background-color: white;
    border-radius: 50px;
    font-size: 40px;

}

.fa-twitter {
    margin-right: 40px;
    margin-left: 40px;
    color: #6C63FF;
}

.fa-twitter:hover {

    border-radius: 50px;
    font-size: 40px;
}

.fa-linkedin {
    margin-right: 40px;
    margin-left: 40px;
    color: #6C63FF;
}

.fa-linkedin:hover {
    background-color: white;
    border-radius: 4px;
    font-size: 40px;
}

.container-work {
    background-color: #D6DFED;
    padding: 30px 30px;
    max-width: 960px;
    padding-left: 80px;
    margin-bottom: 50px;
    margin-top: 100px;


}
.contact-info {
    text-align: center;
}

.work-enquiry {

    font-size: 48px;
    font-weight: 700px;
    font-family: var(--secondary-Font-Style);

}

.work-together {
    font-family: var(--primary-Font-Style);
    font-weight: 400px;
    font-size: 18px;
    color: #272142B2;
    opacity: 70%;
    line-height: 27px;

}



.container {
    margin-top: 60px;
    margin-bottom: 60px;

}

a{
        text-align: center;
        text-decoration: none;
        font-size: 24px;
        font-weight: 500px;
        font-family: var(--primary-Font-Style);
        color: black;
    }

    a:hover {
        color: #6C63FF;

    }


body {
background: linear-gradient(99.6deg, rgb(112, 128, 152) 10.6%, rgb(242, 227, 234) 32.9%, rgb(234, 202, 213) 52.7%, rgb(220, 227, 239) 72.8%, rgb(185, 205, 227) 81.1%, rgb(154, 180, 212) 102.4%);
}

h4 {
    text-align: center;
    font-family: var(--primary-Font-Style);
    size: 10px;
    color: #272142;
    margin-top: 40px;
}


h1 {
    font-family: var(--secondary-Font-Style);
    font-size: 64px;
    text-align: center;
    color: black;
    margin-bottom: 100px;
}

h3 {

    font-family: var(--secondary-Font-Style);
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: center;
    color: black;
}


